@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desenvolvimento de aplicações com .NET MVC</h1>
    <p>Thiago da Costa - Jan. 2021 <a href="https://https://github.com/thiagodacosta85">Meu endereço no GitHub</a>.</p>
</div>
