@{
    ViewData["Title"] = "Decola Dev Avanade 2021";
}
<h1>@ViewData["Title"]</h1>

<p>Materiais desenvolvidos durante o módulo de "Desenvolvimento de Aplicações com .NET - MVC" do bootcamp Decola Dev Avanade 2021.</p>
